<app-controlos (anteriorbt)="anterior()" (duplicarbt)="duplicar()" (seguintebt)="seguinte()" (apagarbt)="apagar()"></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" style="height: 54px;" data-background-color="red">
            <h4 class="title">Manutenções</h4>
            <button [disabled]="novo || disimprimir" title="Imprimir em folhas separadas" type="button" style="color: black; float:right; margin-top: -19px; background-color: #ccc1c1;"
              class="btn btn-white btn-round btn-just-icon" (click)="imprimir('manutencao_separadas',num_manutencao)">
              <i class="material-icons">print</i>
              <div class="ripple-container"></div>
            </button>
            <button [disabled]="novo || disimprimir" title="Imprimir na mesma folha" type="button" style="color:white; float:right; margin-top: -19px;background-color: #ccc1c1;"
              class="btn btn-white btn-round btn-just-icon" (click)="imprimir('manutencao_juntas',num_manutencao)">
              <i class="material-icons">print</i>
              <div class="ripple-container"></div>
            </button>
          </div>
          <div class="card-content">
            <form id="formArranque" (ngSubmit)="gravar()" ngNativeValidate>
              <div class="row" style="border-bottom: 3px solid #ddd; margin-bottom: 10px;">
                <div class="col-md-2">
                  <div [ngClass]="num_manutencao == '' ? 'is-empty' : null" class="form-group form-black label-floating ">
                    <label style="font-size: 14px;">Nº Manutenção</label>
                    <input disabled type="text" style="background: white;" [disabled]="true" class="form-control" style=" margin-top: -13px; padding-bottom: 0px;"
                      [(ngModel)]="num_manutencao" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group form-black label-floating">
                    <label style="font-size: 14px;">Tipo Manutenção</label>
                    <p-dropdown [options]="tipo_manu" [style]="{'width':'210px'}" [(ngModel)]="tipo_manu_id" [ngModelOptions]="{standalone: true}"
                      [disabled]="!novo" [required]="true"></p-dropdown>
                  </div>
                </div>
                <div class="col-md-2 calendarmanu">
                  <div [ngClass]="data_planeamento == '' ? 'is-empty' : null" class="form-group form-black label-floating">
                    <label style="font-size: 14px;">Data Planeamento</label>
                    <br>
                    <p-calendar [style]="{'height':'31px','width':'111px'}" dateFormat="yy-mm-dd" placeholder="yy-mm-dd" [monthNavigator]="true"
                      [yearNavigator]="true" yearRange="2000:2050" [(ngModel)]="data_planeamento" [ngModelOptions]="{standalone: true}"
                      [showIcon]="true" [hidden]="!modoedicao || (modoedicao && !admin)" [required]="true"></p-calendar>
                    <label style="width:115px; height: 31px; " class="ng-tns-c3-11 ui-dropdown-label ui-inputtext ui-corner-all" [hidden]="modoedicao && admin">{{data_planeamento | date: 'yyyy-MM-dd'}}</label>
                    <input [hidden]="!modoedicao || (modoedicao && !admin)" style="width:75px; margin-left:22px; padding: 5px 4px;height: 31px;" [(ngModel)]="hora_planeamento"
                      [ngModelOptions]="{standalone: true}" type="time" class="ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
                      ng-reflect-ng-class="ui-inputtext ui-widget ui-stat" required="true" placeholder="hh:mm">
                    <label style="width:70px; height: 31px; margin-left:4px;" class="ng-tns-c3-11 ui-dropdown-label ui-inputtext ui-corner-all"
                      [hidden]="modoedicao && admin">{{hora_planeamento}}</label>

                    <!--<input disabled type="text" style="background: white;" [disabled]="true" class="form-control" style=" margin-top: -13px; padding-bottom: 0px;"
                      [(ngModel)]="data_planeamento" [ngModelOptions]="{standalone: true}">-->
                  </div>
                </div>
                <div class="col-md-2">
                  <div [ngClass]="responsavel == '' ? 'is-empty' : null" class="form-group form-black label-floating">
                    <label style="font-size: 14px;">Responsável Planeamento</label>
                    <input disabled type="text" style="background: white;" [disabled]="true" class="form-control" style=" margin-top: -13px; padding-bottom: 0px;"
                      [(ngModel)]="responsavel" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-group form-black label-floating">
                    <label style="font-size: 14px;">Linha</label>
                    <p-dropdown [style.background]="cor_linha" (onChange)="alteracorlinha($event)" [options]="linhas" class="droplinha" [style]="{'width':'100px'}"
                      [(ngModel)]="linha" [ngModelOptions]="{standalone: true}" [disabled]="!novo" [required]="true">
                      <ng-template let-car pTemplate="item">
                        <div class="ui-helper-clearfix" [style.background]="car.value.cor" style="position: relative;height: 25px;">
                          {{car.label}}
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-group form-black label-floating">
                    <label style="font-size: 14px;">Turno</label>
                    <p-dropdown [options]="turno" [style]="{'width':'100px'}" [(ngModel)]="id_turno" [ngModelOptions]="{standalone: true}" [disabled]="!novo"
                      [required]="true"></p-dropdown>
                  </div>
                </div>
                <div class="col-md-2">
                  <div [ngClass]="estado == '' ? 'is-empty' : null" class="form-group form-black label-floating">
                    <label style="font-size: 14px;">Estado</label>
                    <input disabled type="text" style="background: white;" [disabled]="true" class="form-control" style=" margin-top: -13px; padding-bottom: 0px;"
                      [(ngModel)]="estado" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
              <div class="row" *ngFor="let item of arrayForm" id="container">
                <form (ngSubmit)="gravarlinha(item.pos)" ngNativeValidate>
                  <div class="col-md-12 well">
                    <div class="col-md-4 " style="width: 35%; padding:0px;">
                      <div class="form-group form-black label-floating">
                        <label style="font-size: 14px;">Banho</label>
                        <p-dropdown [filter]="true" [options]="banhos" [style]="{'width':'250px'}" [(ngModel)]="item.id_banho" [ngModelOptions]="{standalone: true}"
                          (onChange)="nome_tinas($event,item.pos)" [required]="true" [disabled]="!modoedicao"></p-dropdown>
                      </div>
                      <div class="col-md-12  form-group form-black label-floating" style="padding: 0px;">
                        <div class=" col-md-6 form-group form-black label-floating" style="padding: 0px;">
                          <label style="font-size: 14px; float: left;">Tina</label>
                          <input type="text" class="form-control" [disabled]="true" style="width: 30%; float: left; margin-top: -13px; margin-left: 8px; padding-bottom: 0px; padding-top: 13px;"
                            [(ngModel)]="item.tina" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="col-md-6 form-group form-black label-floating" style="padding: 0px;">
                          <label style="font-size: 14px; float: left; width: auto;">Capacidade</label>
                          <input type="text" style="background: white;" [disabled]="true" class="form-control" style="width: 30%; float: left; margin-top: -13px; margin-left: 8px; padding-bottom: 0px; padding-top: 13px;"
                            [(ngModel)]="item.capacidade" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                      <div class="col-md-12 form-group form-black label-floating" style="padding: 0px;">
                        <label style="font-size: 14px; float: left;">Cod. Análise</label>
                        <input type="text" style="background: white;" [disabled]="true" class="form-control" style="width: 50%; float: left; margin-top: -13px; margin-left: 8px; padding-bottom: 0px; padding-top: 13px;"
                          [(ngModel)]="item.nome_analise" [ngModelOptions]="{standalone: true}">
                        <button id="close" (click)="limpar(item.pos)" class="btn btn-white btn-round btn-just-icon" style="padding: 3px 3px; margin: auto;"
                          type="button" [hidden]=" item.cod_analise == null" [disabled]="!modoedicao || item.id_banho == null">
                          <i class="material-icons">close</i>
                          <div class="ripple-container"></div>
                        </button>
                        <button id="pesquisa" (click)="showDialog($event,item.pos,item.id_banho.id)" class="btn btn-white btn-round btn-just-icon"
                          style="padding: 3px 3px; margin: auto;" type="button" [disabled]="!modoedicao || item.id_banho == null">
                          <i class="material-icons">search</i>
                          <div class="ripple-container"></div>
                        </button>
                      </div>
                      <div class="col-md-12 form-group form-black label-floating calendarmanu" style="padding: 0px; margin-bottom: 6px;">
                        <label style="font-size: 14px; float: left; margin-top: 3%;">Data/Hora Prev</label>
                        <p-calendar [style]="{'width':'150px','height':'31px','padding':'5px 4px'}" dateFormat="yy-mm-dd" placeholder="yy-mm-dd"
                          [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" [(ngModel)]="item.data_pre"
                          [ngModelOptions]="{standalone: true}" [showIcon]="true" [hidden]="!modoedicao" [required]="true"></p-calendar>
                        <label style="width:100px; margin-left: 4px;" class="ng-tns-c3-11 ui-dropdown-label ui-inputtext ui-corner-all" [hidden]="modoedicao">{{item.data_pre | date: 'yyyy-MM-dd'}}</label>
                        <input [hidden]="!modoedicao" style="width:80px; padding: 5px 4px;" [(ngModel)]="item.hora_pre" [ngModelOptions]="{standalone: true}"
                          type="time" class="ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all" ng-reflect-ng-class="ui-inputtext ui-widget ui-stat"
                          required="true" placeholder="hh:mm">
                        <label style="width:70px; margin-top: 2%;" class="ng-tns-c3-11 ui-dropdown-label ui-inputtext ui-corner-all" [hidden]="modoedicao">{{item.hora_pre}}</label>

                      </div>
                      <div class="col-md-12  form-group form-black label-floating" style="padding: 0px;">
                        <label style="font-size: 14px;">Tipo Adição</label>
                        <p-dropdown (onChange)="verifica_adicao($event,item.pos)" (onFocus)="alterarintervalo(op.value,item.pos,item.id_195)" [options]="tipo_adicao"
                          [style]="{'width':'250px'}" [(ngModel)]="item.tipo_adicao" [ngModelOptions]="{standalone: true}"
                          [required]="true" [disabled]="!modoedicao"></p-dropdown>
                      </div>
                      <div class="col-md-12  form-group form-black label-floating" style="padding: 0px;">
                        <div class="col-md-9 form-group form-black label-floating" style="padding: 0px;">
                          <div style="float: left;">
                            <label style="font-size: 14px;">Intervalo Oper.</label>
                            <p-dropdown #op [options]="intervalo_op" (onFocus)="alterarintervalo(op.value,item.pos,item.id_195)" [disabled]="item.disable_op || !modoedicao"
                              [style]="{'width':'180px'}" [(ngModel)]="item.interva_ope" [ngModelOptions]="{standalone: true}"
                              [required]="true"></p-dropdown>
                          </div>
                          <div *ngIf="op.value != null && op.value != ''" style="float: left; margin-left: 10px; padding-top: 5px;">
                            <button (click)="preencher_id195(item.id,item.id_195,item.pos,item.data_valida)" [hidden]="op.value.id195 == false " class="btn btn-white btn-round btn-just-icon"
                              style="padding: 3px 3px; margin: auto;" type="button" title="Registo dos Parâmetros de Operação">
                              <i [hidden]="item.id_195 != null" style="color: red;" class="material-icons">insert_drive_file</i>
                              <div class="ripple-container"></div>
                              <i [hidden]="item.id_195 == null" style="color: green;" class="material-icons">insert_drive_file</i>
                              <div class="ripple-container"></div>
                            </button>
                          </div>
                        </div>
                        <div *ngIf="op.value != null && op.value != ''" [hidden]="true" class="col-md-3 form-group form-black label-floating" style="padding: 0px;">
                          <label [hidden]="op.value.id195 == false " style="width: auto;font-size: 14px; float: left; margin-top: 11px; margin-right: 12px;">ID</label>
                          <input [hidden]="op.value.id195 == false " type="text" style="background: white; width: 40%;" class="form-control" [(ngModel)]="item.id_195"
                            [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao">
                        </div>
                      </div>
                      <div class="col-md-12  form-group form-black label-floating" style="padding: 0px;">
                        <label style="font-size: 14px; float: left; margin-top: 11px; margin-right: 4px;">Obs. Planea.</label>
                        <input type="text" style="background: white; width: 77%;" class="form-control" [(ngModel)]="item.obs_pla" [ngModelOptions]="{standalone: true}"
                          [disabled]="!modoedicao">
                      </div>
                      <div class="col-md-12  form-group form-black label-floating" style="padding: 0px;">
                        <label style="font-size: 14px; float: left; margin-top: 11px; margin-right: 4px;">Obs. Prepara.</label>
                        <input type="text" style="background: white; width: 77%;" class="form-control" [(ngModel)]="item.obs_prep" [ngModelOptions]="{standalone: true}"
                          [disabled]="!modoedicao && item.preparado || planeamento">
                      </div>
                      <div class="col-md-12 form-group form-black label-floating" style="padding: 0px;">
                        <div class=" col-md-6 form-group form-black label-floating" style="padding: 0px;">
                          <label style="font-size: 14px; float: left;">Resp. Prepara.</label>
                          <input type="text" style="background: white;" [disabled]="true" class="form-control" style="width: 55%; float: left; margin-top: -13px; margin-left: 8px; padding-bottom: 0px; padding-top: 13px;"
                            [(ngModel)]="item.resp_prep" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class=" col-md-6 form-group form-black label-floating" style="padding: 0px;">
                          <label style="font-size: 14px; float: left;">Data/Hora Prep</label>
                          <input type="text" style="background: white;" [disabled]="true" class="form-control" style="width: 56%; float: left; margin-top: -13px; margin-left: 8px; padding-bottom: 0px; padding-top: 13px;"
                            [(ngModel)]="item.data_prep" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                      <div class="col-md-12  form-group form-black label-floating" style="padding: 0px;">
                        <label style="font-size: 14px; float: left; margin-top: 11px; margin-right: 4px;">Obs. Exec.</label>
                        <input type="text" style="background: white; width: 77%;" class="form-control" [(ngModel)]="item.obs_exec" [ngModelOptions]="{standalone: true}"
                          [disabled]="(!modoedicao && !item.preparado) || item.executado || planeamento">
                      </div>
                      <div class="col-md-12 form-group form-black label-floating" style="padding: 0px;">
                        <div [ngClass]="{ 'col-md-12': modoedicao && admin,'col-md-6':  !modoedicao || !admin }" class=" form-group form-black label-floating" style="padding: 0px;">
                          <label style="font-size: 14px; float: left;">Resp. Exec</label>
                          <p-dropdown [filter]="true" [options]="utilizadores" [style]="{'width':'250px'}" [(ngModel)]="item.resp_exe_id" [ngModelOptions]="{standalone: true}"
                           [hidden]="!modoedicao || (modoedicao && !admin)"  [disabled]="!modoedicao"></p-dropdown>                         
                          <input [hidden]="modoedicao && admin" type="text" style="background: white;" [disabled]="true" class="form-control" style="width: 55%; float: left; margin-top: -13px; margin-left: 8px; padding-bottom: 0px; padding-top: 13px;"
                            [(ngModel)]="item.resp_exe" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div [ngClass]="{ 'col-md-12': modoedicao && admin,'col-md-6': !modoedicao || !admin }" class="calendarmanu  form-group form-black label-floating" style="padding: 0px;">
                          <label style="font-size: 14px; float: left;">Data/Hora Exec</label>
                          <p-calendar [style]="{'width':'120px','height':'31px','padding':'0px 5px'}" dateFormat="yy-mm-dd" placeholder="yy-mm-dd"
                            [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" [(ngModel)]="item.data_exc"
                            [ngModelOptions]="{standalone: true}" [showIcon]="true" [hidden]="!modoedicao || (modoedicao && !admin)"></p-calendar>

                          <input [hidden]="!modoedicao || (modoedicao && !admin)" style="width: 72px; padding: 5px 4px; margin-left: 29px;" [(ngModel)]="item.hora_exc"
                            [ngModelOptions]="{standalone: true}" type="time" class="ng-tns-c9-3 ui-inputtext ui-widget ui-state-default ui-corner-all"
                            ng-reflect-ng-class="ui-inputtext ui-widget ui-stat"  placeholder="hh:mm">

                          <input  [hidden]="modoedicao && admin" type="text" style="background: white;" [disabled]="true" class="form-control" style="width: 56%; float: left; margin-top: -13px; margin-left: 8px; padding-bottom: 0px; padding-top: 13px;"
                            [(ngModel)]="item.data_exc" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7" style="width: 60%; padding:0px;">
                      <p-dataTable [value]="item.aditivos" dataKey="id">
                        <p-column styleclass="text-danger" field="nome" header="Aditivo">
                          <ng-template pTemplate="body" let-col2 let-row2="rowData ">
                            <input type="text" style="background: white; height: 31px;" class="form-control" [(ngModel)]="row2['nome']" [ngModelOptions]="{standalone: true}"
                              [disabled]="true">
                          </ng-template>
                        </p-column>
                        <p-column styleclass="text-danger" field="valor1" header="Valor 1" [style]="{'width':'8%'}">
                          <ng-template pTemplate="body" let-col3 let-row3="rowData ">
                            <input type="text" style="background: white; text-align: center; height: 31px;" class="form-control" [(ngModel)]="row3['valor1']"
                              [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao">
                          </ng-template>
                        </p-column>
                        <p-column styleclass="text-danger" field="unidade1" header="Unid. 1" [style]="{'width':'10%'}">
                          <ng-template pTemplate="body" let-col4 let-row4="rowData ">
                            <p-dropdown [filter]="true" [options]="medidas" [style]="{'width':'100%'}" [(ngModel)]="row4['unidade1']" [ngModelOptions]="{standalone: true}"
                              [disabled]="!modoedicao" [required]="true"> </p-dropdown>
                          </ng-template>
                        </p-column>
                        <p-column styleclass="text-danger" field="valor2" header="Valor 2" [style]="{'width':'8%'}">
                          <ng-template pTemplate="body" let-col5 let-row5="rowData ">
                            <input type="text" style="background: white;  text-align: center; height: 31px;" class="form-control" [(ngModel)]="row5['valor2']"
                              [ngModelOptions]="{standalone: true}" [disabled]="!modoedicao">
                          </ng-template>
                        </p-column>
                        <p-column styleclass="text-danger" field="unidade2" header="Unid. 2" [style]="{'width':'10%'}">
                          <ng-template pTemplate="body" let-col6 let-row6="rowData ">
                            <p-dropdown [filter]="true" [options]="medidas" [style]="{'width':'100%'}" [(ngModel)]="row6['unidade2']" [ngModelOptions]="{standalone: true}"
                              [disabled]="!modoedicao" [required]="true"> </p-dropdown>
                          </ng-template>
                        </p-column>
                        <p-column styleclass="text-danger" field="stock" header="Stock" [style]="{'width':'7%'}">
                          <ng-template pTemplate="body" let-col55 let-row55="rowData ">
                            <span style="padding: 9px; display: block;"> {{row55['stock']}}</span>
                          </ng-template>
                        </p-column>
                        <p-column styleclass="text-danger" field="unidstock" header="Unid." [style]="{'width':'5%'}">
                          <ng-template pTemplate="body" let-col55 let-row55="rowData ">
                            <span style="padding: 9px; display: block;"> {{row55['unidstock']}}</span>
                          </ng-template>
                        </p-column>
                        <p-column styleclass="text-danger" field="obs" header="Observações">
                          <ng-template pTemplate="body" let-col let-row="rowData ">
                            <input type="text" style="background: white; height: 31px;" class="form-control" [(ngModel)]="row['obs']" [ngModelOptions]="{standalone: true}"
                              [disabled]="!modoedicao">
                          </ng-template>
                        </p-column>
                      </p-dataTable>
                    </div>
                    <div class="col-md-1" style="padding:0px; text-align: -webkit-center; display: inline-grid; width: 5%; height: 100%; position: absolute;">
                      <div style=" margin: auto 0;">
                        <button [disabled]="item.id == null || disimprimir" type="button" style="color: black;" class="btn btn-white btn-round btn-just-icon"
                          (click)="imprimir('manutencao_individual',item.id)">
                          <i class="material-icons">print</i>
                          <div class="ripple-container"></div>
                        </button>
                        <button [disabled]="item.id == null || disimprimir" type="button" style="color: black;" class="btn btn-white btn-round btn-just-icon"
                          (click)="imprimir('manutencao_etiquetas',item.id)">
                          <i class="fa fa-tags" aria-hidden="true"></i>
                          <div class="ripple-container"></div>
                        </button>
                        <button [hidden]="!modoedicao" class="btn btn-white btn-round btn-just-icon" style="color: black; background: rgba(0, 128, 0, 0.61)"
                          type="submit" [disabled]="!modoedicao">
                          <i class="material-icons">save</i>
                          <div class="ripple-container"></div>
                        </button>
                        <button [hidden]="!modoedicao" type="button" style="color: black; margin-top: 50px; background: rgba(255, 0, 0, 0.56);" class="btn btn-white btn-round btn-just-icon"
                          (click)="apagarlinha(item.pos,item.id)" [disabled]="!modoedicao">
                          <i class="material-icons">delete</i>
                          <div class="ripple-container"></div>
                        </button>
                      </div>
                      <div class="[ form-group ]" [hidden]="!planeado || !acessoprep">
                        <input (change)="preparar_linha(item.pos,item.id,item.id_manu)" type="checkbox" name="fancy-checkbox-success{{item.pos}}"
                          id="fancy-checkbox-success{{item.pos}}" [(ngModel)]="item.preparado" [disabled]="item.preparado"
                          [ngModelOptions]="{standalone: true}" autocomplete="off" />
                        <div class="[ btn-group ]" style="margin-right: 37px;">
                          <label style=" padding: 2px 24px 5px 16px; font-size: 24px;" [ngClass]="{ 'cor_amarelo': !item.preparado,'disabled': item.preparado }"
                            for="fancy-checkbox-success{{item.pos}}" class="[ btn btn-success ] " id="burst-8">
                            <span class="[ glyphicon glyphicon-ok ]" id="burst-9"></span>
                            <span> </span>
                          </label>
                        </div>
                      </div>
                      <div class="[ form-group ]" [hidden]="!preparado || !acessoexec">
                        <input (change)="confirmar_linha(item.pos,item.id,item.id_manu)" type="checkbox" name="fancy-checkbox-succ{{item.pos}}" id="fancy-checkbox-succ{{item.pos}}"
                          [(ngModel)]="item.executado" [disabled]="item.executado" [ngModelOptions]="{standalone: true}" autocomplete="off"
                        />
                        <div class="[ btn-group ]" style="margin-right: 37px;">
                          <label style=" padding: 2px 24px 5px 16px; font-size: 24px;" [ngClass]="{ 'cor_amarelo': !item.executado,'disabled': item.executado }"
                            for="fancy-checkbox-succ{{item.pos}}" class="[ btn btn-success ]" id="burst-8">
                            <span class="[ glyphicon glyphicon-ok ] execucao" id="burst-9"></span>
                            <span> </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="row" style="border-top: 2px solid #ddd;" [hidden]="!planeamento">
                <a (click)="novalinha()" [ngClass]="!modoedicao ? 'not-active' : null" style="color: black; cursor:pointer; margin-left:10px;"
                  title="Adicionar nova linha">
                  <i class="material-icons">playlist_add</i>
                </a>
              </div>
              <button type="reset" (click)="backview()" class="btn btn-danger pull-right" [hidden]="!modoedicao">Cancelar</button>
              <button type="submit" class="btn btn-success pull-right" [hidden]="!(novo || admin) || !modoedicao">Gravar</button>
              <button type="button" (click)="concluir()" class="btn btn-success pull-right" [hidden]="!modoedicao || !planeamento || ( executado && preparado)">Concluir Planeamento</button>

              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-danger btn-block" #inputnotifi [hidden]="true" onclick="demo.showNotification('top','right','Inseriu com Sucesso!',2)"></button>
<button class="btn btn-danger btn-block" #inputgravou [hidden]="true" onclick="demo.showNotification('top','right','Alterado com Sucesso!',2)"></button>
<button class="btn btn-danger btn-block" #inputapagar [hidden]="true" onclick="demo.showNotification('top','right','Apagado com Sucesso!',2)"></button>
<button class="btn btn-danger btn-block" #inputerro [hidden]="true" onclick="demo.showNotification('top','right','ERRO!! Registo não foi Gravado!',4)"></button>
<button #aviso_gravar data-toggle="modal" [hidden]="true" data-target="#aviso_gravar"></button>
<button #aviso_concluir_planeamento data-toggle="modal" [hidden]="true" data-target="#aviso_concluir_planeamento"></button>
<button #aviso_concluir_planeamento2 data-toggle="modal" [hidden]="true" data-target="#aviso_concluir_planeamento2"></button>
<button #aviso_concluir_planeamento3 data-toggle="modal" [hidden]="true" data-target="#aviso_concluir_planeamento3"></button>
<button #alteraeditar id="editarclick2" data-toggle="modal" [hidden]="true"></button>
<button #alteraeditartrue id="editarclick3" data-toggle="modal" [hidden]="true"></button>

<button class="btn btn-danger btn-block" #inputgduplica [hidden]="true" onclick="demo.showNotification('top','right','Duplicado com Sucesso!',2)"></button>
<button class="btn btn-primary btn-lg" #dialoglinhas data-toggle="modal" [hidden]="true" data-target="#myModallinhas" data-backdrop="false"></button>

<!-- Modal Linhas-->
<div class="modal fade" id="myModallinhas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span style="font-size: 30px;" aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Análises
        </h4>
        <span style="color:red;">*clique em cima da linha para seleccionar uma análise</span>
      </div>
      <!-- Modal Body -->
      <p-dataTable [value]="pesquisa_analise" dataKey="id" [rows]="15" [paginator]="true" [pageLinks]="3" selectionMode="single"
        (onRowSelect)="seleciona($event)" [rowsPerPageOptions]="[15,20,30,'todos']">
        <p-column [sortable]="true" styleclass="text-danger" field="linha" header="Linha">
          <ng-template let-car="rowData" pTemplate="body">
            <div [style.background]="car['cor']">
              {{car['linha']}}
            </div>
          </ng-template>
        </p-column>
        <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="id" header="Código da Análise"></p-column>
        <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="nome" header="Banho"></p-column>
        <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="tina" header="Tina"></p-column>
        <p-column [sortable]="true" [filter]="true" styleclass="text-danger" field="data" header="Data Registo"></p-column>
      </p-dataTable>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" #closedialoglinha data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>



<button type="button" [hidden]="true" #waitingDialog class="btn btn-primary" onclick="waitingDialog.show('A Duplicar Registo', {dialogSize: 'md'});"></button>
<button type="button" [hidden]="true" #waitingDialogclose class="btn btn-primary" onclick="waitingDialog.hide();"></button>