<app-controlos></app-controlos>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Parâmetros Aplicação</h4>
            <p class="category"></p>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-12">
                <div class="tab-content" style="padding-top: 0;">
                  <form role="form" ngNativeValidate (ngSubmit)="gravar()">
                    <!-- Modal Body -->
                    <div class="col-md-12 " style="padding: 6px">
                      <h5 style="margin: 0; ">GERAL</h5>
                      <hr style="margin: 0px 0 7px 0;" />
                      <div class="form-group col-md-6" style="padding: 0px 18px 0 0;">
                        <label for="pasta_ficheiro">Pasta Destino Interface Silver:</label>
                        <input [disabled]="!modoedicao" type="text" class="form-control" id="pasta_ficheiro" [(ngModel)]="pasta_ficheiro" [ngModelOptions]="{standalone: true}"
                          placeholder="c:\exemplo\" required />
                      </div>
                      <div class="form-group col-md-6" style="padding: 0px;">
                        <label for="pasta_ETIQUETAS">Pasta Destino (Criação Etiquetas):</label>
                        <input [disabled]="!modoedicao" type="text" class="form-control" id="pasta_ETIQUETAS" [(ngModel)]="pasta_ETIQUETAS" [ngModelOptions]="{standalone: true}"
                          placeholder="c:\exemplo\" required />
                      </div>
                      <div class="form-group col-md-6" style="padding: 0px 18px 0 0;">
                        <label for="pasta_JASPERREPORT">Pasta Raiz para a Criação de Relatórios:</label>
                        <input [disabled]="!modoedicao" type="text" class="form-control" id="pasta_JASPERREPORT" [(ngModel)]="pasta_JASPERREPORT"
                          [ngModelOptions]="{standalone: true}" placeholder="" required />
                      </div>
                      <div class="form-group col-md-6" style="padding: 0px;">
                        <label for="modelo_REPORT">Modelo Report:</label>
                        <input [disabled]="!modoedicao" type="text" class="form-control" id="modelo_REPORT" [(ngModel)]="modelo_REPORT" [ngModelOptions]="{standalone: true}"
                          placeholder="" required />
                      </div>
                      <div class="form-group col-md-6" style="padding: 0px 18px 0 0;">
                        <label for="url_SILVER">URL Silver:</label>
                        <input [disabled]="!modoedicao" type="text" class="form-control" id="url_SILVER" [(ngModel)]="url_SILVER" [ngModelOptions]="{standalone: true}"
                          placeholder="" required />
                      </div>
                      <div class="form-group col-md-6" style="padding: 0px 18px 0 0;">
                        <label for="tempo_PLANEADAS">Tempo mínimo para visualizar as fichas planeadas (minutos):</label>
                        <input [disabled]="!modoedicao" type="text" class="form-control" id="tempo_PLANEADAS" [(ngModel)]="tempo_PLANEADAS" [ngModelOptions]="{standalone: true}"
                          placeholder="" required />
                      </div>
                    </div>
                    <div class="col-md-12 " style="padding: 6px">
                      <h5 style="margin: 0; ">CARTELAS</h5>
                      <hr style="margin: 0px 0 7px 0;" />
                      <div class="form-group col-md-6" style="padding: 0px 18px 0 0;">
                        <label for="tempo_SINCRO_CARTELAS">Tempo Sincronização (minutos):</label>
                        <input [disabled]="!modoedicao" type="text" class="form-control" id="tempo_SINCRO_CARTELAS" [(ngModel)]="tempo_SINCRO_CARTELAS"
                          [ngModelOptions]="{standalone: true}" required />
                      </div>
                      <div class="form-group col-md-6" style="padding: 0px;">
                        <div class="checkbox col-md-6" style="float: none; margin-left: 14px;">
                          <input [disabled]="!modoedicao" type="checkbox" name="cartelas_ATIVO" id="radio7" [(ngModel)]="cartelas_ATIVO">
                          <label for="radio7" style="color:black">
                            Sincronismo Ativo
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <h5 style="margin: 0; ">POSTOS</h5>
                      <hr style="margin: 0px 0 7px 0;" />
                      <p-dataTable [style]="{'width':'100%'}" [editable]="modoedicao" [value]="postos" styleClass="tabelaPostos">
                        <p-column [editable]="true" field="descricao" header="POSTO">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            {{car[col.field] }}
                          </ng-template>
                          <ng-template let-col let-car="rowData" pTemplate="editor">
                            <input [disabled]="!modoedicao" type="text" class="form-control" [(ngModel)]="car['descricao']" [ngModelOptions]="{standalone: true}"
                              placeholder="POSTO X" appendTo="body" />
                          </ng-template>
                        </p-column>
                        <p-column [editable]="true" field="ip_POSTO" header="IP MÁQUINA">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            {{car[col.field] }}
                          </ng-template>
                          <ng-template let-col let-car="rowData" pTemplate="editor">
                            <input [disabled]="!modoedicao" type="text" class="form-control" [(ngModel)]="car['ip_POSTO']" [ngModelOptions]="{standalone: true}"
                              placeholder="{{temp_ip}}" appendTo="body" style="width: 88%; float: left;" />
                            <button tite="Atualizar com o meu ip" style="margin-top: 3px;" [disabled]="!modoedicao" type="button" class="ui-button-warning"
                              pButton (click)="car['ip_POSTO'] = getCookie('IP_CLIENT')" icon="fa-refresh" appendTo="body"></button>
                          </ng-template>
                        </p-column>
                        <p-column [editable]="true" field="impressora" header="IMPRESSORA">
                          <ng-template let-col let-car="rowData" pTemplate="editor">
                            <p-dropdown appendTo="body" [options]="impressoras" [autoWidth]="false" [style]="{'width':'250px'}" [(ngModel)]="car['impressora']"
                              [ngModelOptions]="{standalone: true}"></p-dropdown>
                          </ng-template>
                        </p-column>
                        <p-column [editable]="true" field="ip_IMPRESSORA" header="IP IMPRESSORA">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            {{car[col.field] }}
                          </ng-template>
                          <ng-template let-col let-car="rowData" pTemplate="editor">
                            <input [disabled]="!modoedicao" type="text" class="form-control" [(ngModel)]="car['ip_IMPRESSORA']" [ngModelOptions]="{standalone: true}"
                              placeholder="" appendTo="body" />
                          </ng-template>
                        </p-column>
                        <p-column [editable]="true" field="nome_IMPRESSORA" header="NOME IMPRESSORA">
                          <ng-template let-col let-car="rowData" pTemplate="body">
                            {{car[col.field] }}
                          </ng-template>
                          <ng-template let-col let-car="rowData" pTemplate="editor">
                            <input [disabled]="!modoedicao" type="text" class="form-control" [(ngModel)]="car['nome_IMPRESSORA']" [ngModelOptions]="{standalone: true}"
                              placeholder="" appendTo="body" />
                          </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'width':'5%'}">
                          <ng-template let-posto="rowData" pTemplate="body">
                            <button [disabled]="!modoedicao" type="button" pButton (click)="eliminar(posto)" class="ui-button-warning" icon="fa-trash"></button>
                          </ng-template>
                        </p-column>
                        <p-footer>
                          <a (click)="adicionar_linha()" [class.disabled]="!modoedicao" style="color: black; cursor:pointer; margin-left:10px;" title="Adicionar nova linha">
                            <i class="material-icons">add</i> Adicionar
                          </a>
                        </p-footer>
                      </p-dataTable>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                      <button [hidden]="!modoedicao" (click)="backview()" type="reset" class="btn btn-default">Cancelar</button>
                      <button [hidden]="!modoedicao" id="gravar" type="submit" class="btn btn-success ">Gravar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-danger btn-block" #inputgravou [hidden]="true" onclick="demo.showNotification('top','right','Alterado com Sucesso!',2)"></button>

<button class="btn btn-danger btn-block" #inputerro [hidden]="true" onclick="demo.showNotification('top','right','ERRO!! Registo não foi Alterado!',4)"></button>